$background-test: red;

$background-primary: #080e18;
$background-secondary: #0c1525;

$background-blue-light : #2899E5;
$background-blue-neutral : #1D71B8;
$background-blue-dark : #15537C;

$card-background-gradient : linear-gradient(25deg, #5d5dd4b7, #8181b263)

