@font-face{
    font-family:'Knewave';
    src: url('../fonts/Knewave/Knewave-Regular.ttf');
}
@font-face{
    font-family:'londrina-outline';
    src: url('../fonts/Londrina_Outline/LondrinaOutline-Regular.ttf');
}
@font-face{
    font-family:'londrina-solid';
    src: url('../fonts/Londrina_Solid/LondrinaSolid-Regular.ttf');
}

$family : sans-serif;

$primary: #2899E5;
$secondary : #1D71B8;


$text-default-color : rgb(218, 218, 218);
$text-primary-color : #2899E5;
$text-secondary-color : #15537C;

$paragraph-mobile-size : 18px;
$paragraph-desktop-size : 22px;

$h1-mobile-size : 10vw;
$h1-desktop-size : 58px;

$h2-mobile-size : 24px;
$h2-desktop-size : 42px;

// $h3-mobile-size : 30px;
// $h3-desktop-size : 40px;

/* setting default text styling for mobile and desktop */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    color : $text-default-color;
}

span.focus-big {
    font-weight : 700;
    color : $text-primary-color;
}

span.focus-normal {
    font-weight : 500;
    color : $text-primary-color;
}

/* For mobile: */
@media only screen and (max-width: 768px) {
    html {
        font-size : $paragraph-mobile-size;
    }

    body main .hero {
        h1 {
            font-size: clamp(2rem, $h1-mobile-size, 8rem);
        }
    }
    h1 {
        font-size : $h1-mobile-size;
    }

    h2 {
        font-size : $h2-mobile-size;
        margin-bottom : 1rem;
    }

    p {
        font-size: $paragraph-mobile-size;
        margin-bottom: 1rem;
    }
}

/* For desktop: */
@media only screen and (min-width: 769px) {
    html {
        font-size : $paragraph-desktop-size;
    }
    h1 {
        font-size : $h1-desktop-size;
        margin-bottom : 2rem;
    }

    h2 {
        font-size : $h2-desktop-size;
        margin-bottom : 0.6rem;
    }
    p {
        font-size: $paragraph-desktop-size;
        margin-bottom: 0.6rem;
        line-height: 1.3rem;
    }
}