@charset "UTF-8";
:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}
* *::before, * *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role=button] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
button:focus, [role=button]:focus {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus,
select:focus {
  outline: 0;
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type=checkbox]:focus,
[type=radio]:focus {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Knewave";
  src: url("../fonts/Knewave/Knewave-Regular.ttf");
}
@font-face {
  font-family: "londrina-outline";
  src: url("../fonts/Londrina_Outline/LondrinaOutline-Regular.ttf");
}
@font-face {
  font-family: "londrina-solid";
  src: url("../fonts/Londrina_Solid/LondrinaSolid-Regular.ttf");
}
/* setting default text styling for mobile and desktop */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(218, 218, 218);
}

span.focus-big {
  font-weight: 700;
  color: #2899E5;
}

span.focus-normal {
  font-weight: 500;
  color: #2899E5;
}

/* For mobile: */
@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  body main .hero h1 {
    font-size: clamp(2rem, 10vw, 8rem);
  }
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
/* For desktop: */
@media only screen and (min-width: 769px) {
  html {
    font-size: 22px;
  }
  h1 {
    font-size: 58px;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 42px;
    margin-bottom: 0.6rem;
  }
  p {
    font-size: 22px;
    margin-bottom: 0.6rem;
    line-height: 1.3rem;
  }
}
body {
  background-color: #0c1525;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  width: 95%;
  padding: 20px 10px;
  background-color: #080e18;
  box-sizing: border-box;
}

a {
  color: #2899E5;
}
a:hover {
  color: #15537C;
  text-decoration: underline;
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  header #logo.mobile {
    z-index: 50;
  }
  header #logo.mobile img {
    width: 60px;
  }
  header #logo.mobile span {
    z-index: 50;
    display: none;
  }
  header #logo.desktop {
    display: none;
  }
  header .menu {
    height: 100%;
    display: flex;
    flex-direction: center;
  }
  header .menu #mobile {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .menu #mobile .menu-button {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 20;
  }
  header .menu #mobile .menu-button .menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 30px;
    height: 20px;
  }
  header .menu #mobile .menu-button .menu-burger .line {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4px;
    background-color: #1D71B8;
    transition: opacity 1.5s ease, transform 1s ease;
  }
  header .menu #mobile .menu-button .menu-burger .line:nth-child(even) {
    padding-left: 2px;
  }
  header .menu #mobile .menu-button .menu-text {
    margin: 8px 0 0;
    font-size: 14px;
    color: #1D71B8;
  }
  header .menu #mobile .menu-button.is-open .menu-burger .line:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  header .menu #mobile .menu-button.is-open .menu-burger .line:nth-child(even) {
    opacity: 0;
    transform: rotate(45deg);
  }
  header .menu #mobile .menu-button.is-open .menu-burger .line:last-child {
    transform: translateY(-8px) rotate(135deg);
  }
  header .menu #mobile .menu-display {
    visibility: hidden;
    position: fixed;
    left: -150%;
    top: 0;
    width: 100%;
    padding-right: 1000px;
    height: 100%;
    background-color: transparent;
    transition: left 0.5s ease, background-color 0.5s ease;
  }
  header .menu #mobile .menu-display.is-open {
    visibility: visible;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
  }
  header .menu #mobile .menu-display .menu-background {
    position: relative;
    transform-origin: top right;
    width: 120%;
    height: 150%;
    transform: rotate(20deg);
    background-color: #0c1525;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .menu-display:not(.is-open) header .menu #mobile .menu-display .menu-background {
    background-color: transparent;
    opacity: 0;
  }
  header .menu #mobile .menu-display .menu-background ul {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    color: #2899E5;
    z-index: 20;
    transform: translateX(-75px) translateY(-450px);
    transition: transform 0.5s ease;
  }
  .menu-display:not(.is-open) header .menu #mobile .menu-display .menu-background ul {
    transform: translateX(-100%);
  }
  header .menu #mobile .menu-display .menu-background ul li {
    font-size: larger;
    transform: rotate(-20deg);
  }
  header .menu #desktop {
    display: none;
  }
  main {
    background-image: url("/public/storage/background-waves.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    opacity: 0;
    transition: opacity 0.8s;
  }
  main section.show {
    opacity: 1;
  }
  main .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  main .hero h1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    align-items: center;
  }
  main .hero h1 #first-name {
    font-family: "londrina-outline";
  }
  main .hero h1 #last-name {
    font-family: "londrina-solid";
    background: linear-gradient(20deg, #1D71B8, #2899E5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3rem;
  }
  main .hero .my-picture {
    max-width: 40%;
    flex-shrink: 0;
  }
  main .hero .my-picture img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .info .desktop.slider {
    display: none;
  }
  main .info .mobile.accordion-menu .accordion {
    background: linear-gradient(25deg, rgb(218, 218, 218), #9bc9e9);
    color: #15537C;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #0c1525;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  main .info .mobile.accordion-menu .accordion:focus {
    border: 2px solid #2899E5;
  }
  main .info .mobile.accordion-menu .accordion:hover {
    background-color: #ccc;
  }
  main .info .mobile.accordion-menu .active,
  main .info .mobile.accordion-menu .accordion:hover {
    background-color: #ccc;
  }
  main .info .mobile.accordion-menu .panel {
    padding: 0 18px;
    background-color: #0c1525;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
  }
  main .info .mobile.accordion-menu .panel p {
    padding: 10px 0;
  }
  main .info .mobile.accordion-menu .panel.show-content {
    padding: 0 18px;
    display: block;
    max-height: 500px;
  }
  main .feedbacks fieldset {
    width: 100%;
    border: 2px solid #2899E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
  main .feedbacks fieldset legend h2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  main .feedbacks fieldset .change-view {
    display: none;
  }
  main .feedbacks fieldset .review {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 0.5px solid #2899E5;
    border-radius: 5px;
    background: linear-gradient(25deg, rgba(93, 93, 212, 0.7176470588), rgba(129, 129, 178, 0.3882352941));
    box-shadow: #2899E5 1px 1px 5px;
    padding: 5px 10px;
    width: 100%;
  }
  main .feedbacks fieldset .review .top, main .feedbacks fieldset .review .message {
    margin-top: 10px;
    width: 100%;
  }
  main .feedbacks fieldset .review .keyword {
    font-weight: 700;
  }
  main .feedbacks fieldset .review .role {
    font-size: medium;
  }
  main .feedbacks fieldset .review .fa.fa-star {
    color: #0c1525;
  }
  main .feedbacks fieldset .review .fa.fa-star.checked {
    color: #2899E5;
  }
  main .terms {
    margin-bottom: 0;
  }
  main .terms article {
    margin: 75px 0 50px 0;
  }
  main .terms article h3 {
    margin: 50px 0 10px 0;
    font-weight: 700;
  }
  main .terms article h3::before {
    content: "⦿ ";
  }
  main .terms article ul {
    padding-left: 1rem;
    margin: 20px 0;
  }
  main .terms article ul li {
    margin: 5px 0;
    list-style-type: disc;
    font-weight: normal;
  }
  footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding-bottom: 50px;
  }
  footer .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 0 15px 0;
  }
  footer .social i {
    font-size: 2rem;
    color: #15537C;
    transition: color 0.3s ease;
  }
  footer .social i:hover, footer .social i:focus {
    color: #2899E5;
  }
  footer .footer-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer-navigation li {
    margin: 10px 0;
  }
  footer .footer-navigation li::after {
    content: "•";
    padding: 0 10px 0 10px;
    color: #1D71B8;
  }
  footer .footer-navigation li:last-child::after {
    content: "";
  }
  footer .footer-navigation a {
    position: relative;
    text-decoration: none;
    color: rgb(218, 218, 218);
  }
  footer .footer-navigation a:hover {
    color: #1D71B8;
    text-decoration: underline;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  header,
  main,
  footer {
    padding: 20px 50px;
    width: 100%;
    max-width: 2000px;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
  }
  header #logo.desktop {
    position: relative;
    height: auto;
    display: inline-block;
    text-decoration: none;
  }
  header #logo.desktop img {
    display: block;
    width: 150px;
    height: auto;
  }
  header #logo.mobile {
    display: none;
  }
  header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .menu #desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .menu #desktop .desktop-main-nav ul:hover li a {
    transform: scale(1.1);
    opacity: 0.2;
  }
  header .menu #desktop .desktop-main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  header .menu #desktop .desktop-main-nav ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
  }
  header .menu #desktop .desktop-main-nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
  }
  header .menu #desktop .desktop-main-nav ul li a:hover {
    transform: scale(1.3);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
  }
  header .menu #desktop .desktop-main-nav ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D71B8;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }
  header .menu #desktop .desktop-main-nav ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }
  header .menu #desktop .desktop-main-nav ul li a.active {
    border-bottom: 2px solid white;
  }
  header .menu #mobile {
    display: none;
  }
  main {
    background-image: url("/public/storage/background-waves.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section {
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    opacity: 0;
    transition: opacity 0.8s;
  }
  main section.show {
    opacity: 1;
  }
  main .hero {
    max-width: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  main .hero h1 {
    font-size: 8rem;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }
  main .hero h1 #first-name {
    font-family: "londrina-outline";
  }
  main .hero h1 #last-name {
    font-family: "londrina-solid";
    background: linear-gradient(20deg, #1D71B8, #2899E5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 4rem;
  }
  main .hero .my-picture {
    margin-left: 100px;
  }
  main .hero .my-picture img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
  main .info .mobile.accordion-menu {
    display: none;
  }
  main .info .desktop.slider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  main .info .desktop.slider .slider-menu {
    width: 100%;
    max-width: 35%;
  }
  main .info .desktop.slider .slider-menu li {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: padding 0.5s ease, background-color 0.5s ease;
  }
  main .info .desktop.slider .slider-menu li:hover {
    background-color: transparent;
    padding: 0 20px;
  }
  main .info .desktop.slider .slider-menu li.active {
    color: #15537C;
    background: linear-gradient(25deg, rgb(218, 218, 218), #9bc9e9);
    padding: 10px 20px;
  }
  main .info .desktop.slider .slider-menu li.active:hover {
    background-color: transparent;
  }
  main .info .desktop.slider .slider-content {
    width: 55%;
    position: relative;
  }
  main .info .desktop.slider .slider-content article {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  main .info .desktop.slider .slider-content article.active {
    opacity: 1;
    visibility: visible;
  }
  main .feedbacks {
    margin-bottom: 0;
  }
  main .feedbacks fieldset {
    width: 100%;
    border: 2px solid #2899E5;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    transition: all 0.5s ease;
  }
  main .feedbacks fieldset legend h2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  main .feedbacks fieldset .change-view {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  main .feedbacks fieldset .change-view label {
    position: relative;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #1D71B8;
    border-radius: 20px;
  }
  main .feedbacks fieldset .change-view label .toggle_circle {
    position: absolute;
    left: 6px;
    border: 3px solid #2899E5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: left 0.3s ease;
  }
  main .feedbacks fieldset .change-view label img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
  }
  main .feedbacks fieldset .change-view label img:last-of-type {
    opacity: 0.3;
  }
  main .feedbacks fieldset .change-view input[type=checkbox]:checked + label .toggle_circle {
    left: 50px;
  }
  main .feedbacks fieldset .change-view input[type=checkbox]:checked + label img:first-of-type {
    opacity: 0.3;
  }
  main .feedbacks fieldset .change-view input[type=checkbox]:checked + label img:last-of-type {
    opacity: 1;
  }
  main .feedbacks fieldset .review {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    border: 0.5px solid #2899E5;
    border-radius: 5px;
    background: linear-gradient(25deg, rgba(93, 93, 212, 0.7176470588), rgba(129, 129, 178, 0.3882352941));
    box-shadow: #2899E5 1px 1px 5px;
    padding: 5px 10px;
    width: 100%;
    transition: all 0.7s ease-in-out;
  }
  main .feedbacks fieldset .review .top {
    min-width: 30%;
  }
  main .feedbacks fieldset .review .top .keyword {
    font-weight: 700;
  }
  main .feedbacks fieldset .review .top .role {
    font-size: medium;
  }
  main .feedbacks fieldset .review .top .fa.fa-star {
    color: #0c1525;
  }
  main .feedbacks fieldset .review .top .fa.fa-star.checked {
    color: #2899E5;
  }
  main .feedbacks fieldset .review .message {
    width: 100%;
  }
  main .feedbacks fieldset .review .message p {
    font-size: medium;
  }
  main .feedbacks fieldset.grid {
    margin: auto;
  }
  main .feedbacks fieldset.grid .review {
    width: 29%;
  }
  main .feedbacks fieldset.grid .review .top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .feedbacks fieldset.grid .review .message {
    display: none;
  }
  main .terms article {
    margin: 75px 0 50px 0;
  }
  main .terms article h3 {
    margin: 50px 0 10px 0;
    font-weight: 700;
  }
  main .terms article h3::before {
    content: "⦿ ";
  }
  main .terms article ul {
    padding-left: 1rem;
    margin: 20px 0;
  }
  main .terms article ul li {
    margin: 5px 0;
    list-style-type: disc;
    font-weight: normal;
  }
  footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
  }
  footer .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 0 15px 0;
  }
  footer .social i {
    font-size: 2rem;
    color: #15537C;
    transition: color 0.3s ease;
  }
  footer .social i:hover, footer .social i:focus {
    color: #2899E5;
  }
  footer .footer-navigation {
    display: flex;
  }
  footer .footer-navigation li::after {
    content: "•";
    padding: 0 10px 0 10px;
    color: #1D71B8;
  }
  footer .footer-navigation li:last-child::after {
    content: "";
  }
  footer .footer-navigation a {
    position: relative;
    text-decoration: none;
    color: rgb(218, 218, 218);
  }
  footer .footer-navigation a:hover {
    color: #1D71B8;
    text-decoration: underline;
  }
}/*# sourceMappingURL=app.css.map */