@use "./_defaults";
@use "./_colors" as *;
@use "./_text" as *;

body {
    background-color: $background-secondary;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    font-family: $family;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 95%;
    padding: 20px 10px;
    background-color: $background-primary;

    box-sizing: border-box;


}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px 5px 0 0;
    
        #logo {
            z-index: 50;
            img {
                width: 60px;
            }
            span {
                display: none;
            }
        }

        .menu #mobile .container {
            .main-nav {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                text-align: center;
                background: $background-secondary;
                opacity: 0;
                z-index: -1;
                visibility: hidden;
                transition: all .375s;
            }

            .main-nav.is-open {
                opacity: 1;
                z-index: 20;
                visibility: visible;
            }

            .main-nav::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: -15px;
                background: $background-blue-dark;
                transform-origin: 0 0;
                transform: skew(-14deg) translateX(-120%);
                transition: all .275s .1s;
            }

            .main-nav.is-open::before {
                transform: skew(-14deg) translateX(0);
            }

            .main-nav ul {
                display: inline-flex;
                flex-direction: column;
                height: 93%;
                align-items: flex-end;
                justify-content: center;
                transform: translateX(-18%) skew(-16deg);
            }

            .main-nav li {
                display: block;
                margin: .5rem 0;
                text-align: right;
                transform: skew(16deg);
            }

            .main-nav a {
                opacity: 0;
                transform: translateY(-10px);
            }

            .main-nav.is-open a {
                opacity: 1;
                transform: translateY(0);
            }
            .main-nav li:nth-child(1) a {
                transition: all 275ms 175ms
            }
            .main-nav li:nth-child(2) a {
                transition: all 275ms 225ms
            }
            .main-nav li:nth-child(3) a {
                transition: all 275ms 275ms
            }
            .main-nav li:nth-child(4) a {
                transition: all 275ms 325ms
            }
            .main-nav li:nth-child(5) a {
                transition: all 275ms 375ms
            }
            .main-nav ul,
            .main-nav li {
                list-style: none;
                padding: 0;
            }
            .main-nav a {
                display: block;
                padding: 12px 0;
                color: $background-blue-light;
                font-size: 1.4em;
                text-decoration: none;
                font-weight: bold;
            }
            .main-nav a.active {
                border-bottom: 2px solid $background-blue-light;
            }

            .open-main-nav {
                position: absolute;
                top: 15px;
                padding-top: 20px;
                right: 15px;
                z-index: 1000;
                background: none;
                border: 0;
                cursor: pointer;
            }
            .open-main-nav:focus {
                outline: none;
            }
            .burger {
                position: relative;
                display: block;
                width: 28px;
                height: 4px;
                margin: 0 auto;
                background: $background-blue-light;
                transform: skew(5deg);
                transition: all .275s;
            }

            .burger:after,
            .burger:before {
                content: '';
                display: block;
                height: 100%;
                background: $background-blue-light;
                transition: all .275s;
            }

            .burger:after {
                transform: translateY(-12px) translateX(-2px) skew(-20deg);
            }

            .burger:before {
                transform: translateY(-16px) skew(-10deg);
            }

            /* Toggle State part */
            .is-open .burger {
                transform: skew(5deg) translateY(-8px) rotate(-45deg);
            }

            .is-open .burger:before {
                transform: translateY(0px) skew(-10deg) rotate(75deg);
            }

            .is-open .burger:after {
                transform: translateY(-12px) translateX(10px) skew(-20deg);
                opacity: 0;
            }

            /* MENU Text part */

            .burger-text {
                display: block;
                font-size: .675rem;
                letter-spacing: .05em;
                margin-top: .5em;
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                color: $background-blue-light;
            }
        }

        .menu #desktop {
            display: none;
        }
    }

    main {

    }

    footer {
        border-radius: 0 0 5px 5px;
    }

}

/* For desktop: */
@media only screen and (min-width: 768px) {
    header, main, footer {
        padding: 20px 50px;
        width: 100%;
        max-width: 2000px;
    }

    header {
        display: flex;
        justify-content: space-between;

        #logo {
            position: relative;
            width: 150px;
            height: auto;
            display: inline-block;
            text-decoration: none;
            
            img {
                display: block;
                width: 75px;
                height: auto;
            }

            span {
                display: block;
                position: absolute;
                bottom: 10px;
                left: 50px;
                white-space: nowrap;
                color: $primary;
                font-weight: 700;
                padding: 5px 10px;
                font-size: 16px;
            }
            
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu #desktop {
            display: flex;
            justify-content: center;
            align-items: center;

            .desktop-main-nav {

                ul:hover li a{
                    transform:scale(1.1);
                    opacity:0.2;
                }

                ul {
                    margin:0;
                    padding:0;
                    display:flex;

                    li {
                        list-style:none;
                        margin:0 20px;
                        transition:0.5s;

                        a {
                            display: block;
                            position:relative;
                            text-decoration:none;
                            padding:5px;
                            font-size:18px;
                            font-family: sans-serif;
                            color:white;
                            text-transform:uppercase;
                            transition:0.5s;
                            
                        }

                        a:hover{
                            transform:scale(1.3);
                            opacity:1;
                            filter:blur(0);
                            text-decoration:none;
                            color:#fff;
                        }

                        a:before{
                            content:'';
                            position:absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:100%;
                            background:$background-blue-neutral;
                            transition:0.5s;
                            transform-origin:right;
                            transform:scaleX(0);
                            z-index:-1;
                        }

                        a:hover:before{
                            transition:transform 0.5s;
                            transform-origin:left;
                            transform:scaleX(1);
                        }
                        a.active {
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
        }

        .menu #mobile {
            display: none;
        }
    }
}