@use "./_defaults";
@use "./_colors" as *;
@use "./_text" as *;

/* For mobile phones: */
body {
    background-color: $background-secondary;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    width: 95%;
    height: 500px;
    background-color: $background-primary;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    header, main, footer {
        width: 100%;
        max-width: 2000px;
    }

    header {
        display: flex;
        justify-content: space-between;

        #logo img {
            width: 75px;
            height: auto;
        }
    }
}