*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

a {
  color: #6d6d6d;
  text-decoration: none;
}
a:hover {
  color: aqua;
  transition: 0.4s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height:max-content;
  background-color: #282c34;
  border-bottom: aqua;
  border-width: 10px;
  
}
.landing h1 {
  color: aqua;
  font-size: 64px;
}
hr {
  width: 100%;
  align-self: center;
  border-color: aqua;
}
.container {
  display: flex;
  flex-direction: row;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #1b1b1b;
}
.container .nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #0e0e0e;
  justify-content: space-between;
  box-shadow: 0px 2px 5px aqua;
}
.container .nav:hover {
  box-shadow: 0px 2px 7px aqua;
}
.container .nav .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
}
.container .nav .profile img {
  width: 150px;
}
.container .nav .profile h5 {
  color: #bebebe;
}
.container .nav .profile p {
  color: #bebebe;
  font-size: 14px;
}

.container .nav .navLinks li {
  font-size: 20px;
  color: #6d6d6d;
  padding-top: 25px;
  padding-bottom: 25px;
}

svg {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  
}
.linkedin:hover, .github:hover {
  fill: aqua;
  transition: 0.4s;
}

.container .field {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: auto;
  justify-content: space-between;
}

.container .field .aboutMe {
  margin-left: 40px;
  margin-right: 40px;
}
.container .field .aboutMe h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container .field .aboutMe p {
  text-align: start;
  width: 50%;
}

.container .field .projects {
  margin-left: 40px;
  margin-right: 40px;
  min-height: 90%;
}
.container .field .projects h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container .field .projects p {
  text-align: start;
  width: 50%;
}

.container .field .projects .allProjects {
 display: flex;
 flex-direction: column;
}
.container .field .projects .allProjects .project {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .field .projects .allProjects .project:hover .pContainer {
  position: relative;
  animation: run 2s 1;
  animation-fill-mode: forwards;
}
.container .field .projects .allProjects .project img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 18px;
}
.container .field .projects .allProjects .project .static {
  position:absolute;
}
.container .field .projects .allProjects .project .static:hover {
  opacity: 0;
}
.container .field .projects .allProjects .project p {
  text-align: center;
  width: 150px;
  font-size: 18px;
}

.container .field .projects .allProjects .project .pText {
  width: 800px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: .7s;
}

.container .field .projects .allProjects .project:hover .pText {
  visibility: visible;
  opacity: 1;
  
}

.container .field .projects .allProjects .project .pText h2 {
  color: aquamarine;
  margin-bottom: 20px;
  text-align: start;
}
.container .field .projects .allProjects .project .pText p {
  padding-left: 60px;
  width: 700px;
  text-align: start;
}

@keyframes run {
  from {left: 0%;}
  to {left: 80%;}
}